  <h2>
      {{order?.OrderNumber | uppercase}} 
  </h2>
  <div *ngIf="order">
      <form novalidate (ngSubmit)="Save()" #orderForm="ngForm">
          <div><span>id: </span>{{order.Id}}</div>
          <div>
            <label for="OrderNumber">Order Number: </label>
            <input id="OrderNumber" type="text" placeholder="Order Number (required)" required minlength="3"
              [(ngModel)]="order.OrderNumber" name="OrderNumber" #OrderNumberVar="ngModel"
              [ngClass]="{'is-invalid': (OrderNumberVar.touched || OrderNumberVar.dirty) && !OrderNumberVar.valid }" /> 
            <span class="invalid-feedback">
              <span *ngIf="OrderNumberVar.errors?.required">
                Please enter Order Number.
              </span>
              <span *ngIf="OrderNumberVar.errors?.minlength">
                The Order Number must be longer than 3 characters.
              </span>
            </span>
          </div>
          <div>
            <label>Order Date:</label>
            <input [(ngModel)]="order.OrderDate" placeholder="Order Date"  name="OrderDate" #OrderDateVar="ngModel"/>
          </div>
          <div>
            <button type="button" class="btn btn-secondary" (click)="GoBack()">Go back</button>
            <button class="btn btn-primary mr-3" type="submit" style="width:80px"
              [title]="orderForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
              [disabled]="!orderForm.valid">
              Save
            </button>
          </div>
        </form>
  </div>