
<div class="alert alert-primary" role="alert">
  Product List {{ratingMessage}}
</div>
<table class="table" *ngIf="products && products.length">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of products">
    <tr>
      <td>{{ item.Id }}</td>
      <td>{{ item.Name  }}</td>
      <td>{{ item.Category  }}</td>
      <td>{{ item.Price  }}</td>
      <td><app-rating [rating]='item.Rating' (ratingClicked)='onRatingClicked($event)'></app-rating>{{ item.Rating  }}</td>
    </tr>
  </tbody>
</table>